<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<p>Dear {{ user.username }},</p>

<p>
    To reset your password, <a href="{{ url_for('reset_password', user=user, token=token, _external=True) }}">click here</a>
</p>

<p>
    Alternatively, you can paste the following link in your browser's address bar: <br> <br>
    {{ url_for('reset_password', user=user, token=token, _external=True) }}
</p>

<p>
    If you have not requested a password reset, kindly ignore this message.
</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>
</body>
</html>